body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/fondoNosotros.png);
    color: #060b1f;
    margin: 0px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #060b1f;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
}

.nav > div > form > button {
    background-color: #060b1f;
    border: none;
    cursor: pointer;
}

#help{
    margin-right: 50px;
    width: 35px;
    height: 35px;
    border-radius: 80px;
    background: #ffffff;
    cursor: pointer;
    border: solid 2px #61b1c1;
}

#help:hover{
    background-color: #61b1c1;
    transition: 0.5s;
}

.btns{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

.btns:active{
    transform: scale(0.98);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav > h1 {
    padding-right: 147px;
    color:white;
}

.encuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pregunta h2{
    background-color: #383e46b9;
    color: aliceblue;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.none {
    display: none;
}

.respuestas {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.respuesta {
    display: flex;
    width: 250px;
}

.respuesta > button {
    background-color: #545d68;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
}

.logo {
    width: 180px;
    height: 80px;
}

/*MODAL --------------------------------------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
.modal-content {
    background-color: #060b1f;
    color: rgb(199, 199, 199);
    margin: 15% auto;
    padding: 20px 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    font-family: sans-serif;
    border: 2px solid #61b1c1;
    position: relative;
}
.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #61b1c1;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}