*, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/fondoNosotros.png");
    height: 600px;
}

.main > div > img {
    padding-left: 20px;
    width: 450px;
    height: 200px;
}

.info {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    background-color: #1b2342;
    border: 5px #d89c6c solid;
    border-radius: 15px;
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

p {
    padding: 5px;
}

.inicio {
    position: absolute;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 5px solid #d89c6c;
    padding: 20px;
    right: 365px;
    border-radius: 50px;
    color:#060b1f;
    transition: background-color 0.5s;
}

.inicio:hover {
    background-color: #d89c6c;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 114px;
    padding-top: 20px;
    background-color: #060b1f;
}

.contacto {
    color: rgb(199, 199, 199);
}

h5{
    margin-top: 10px;
}

h5 > a {
    color: #d89c6c;
    text-decoration: none;
}